/***CALQUES DE LA MAQUETTE ET AIDE AU DEVELOPPEMENT (A SUPPRIMER A LA FIN !)***/
/*
body{
    
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/maquette/Desktop\ -\ 1.png") no-repeat;
    background-position: 50% 75%;
    background-attachment: fixed;
    background-size: cover;
    
}

@media screen and (max-width: 380px){
    body{
        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("images/maquette/iPhone\ 8\ -\ 1.png")  no-repeat;
        background-position: top;
        background-attachment: fixed;
        background-size: cover;
        height: 9000px;
    }
}
*/
*{
    border: none black 1px solid;
}

/***VARIABLES***/
:root{
    --color-first: #0065FC;      /*Blue*/
    --color-second: #DEEBFF;     /*Blue light*/
    --color-third: #F2F2F2;      /*Grey*/
    --background-card: white;
}

/***STYLE DE FONDATION ET DIRECTIVE GENERALES***/

body{
    font-size: 16px;
}

:not(i){
    font-family: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a, 
a:hover, 
a:active{
    color: black;
    text-decoration: none;
}

header, 
main{
    padding: 0 3.5%;
}

.title-hpa{
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.5em;
}

.hebergement-part, 
.popular-part, 
.logo-info, 
.footer{
    background-color: var(--color-third);
}

/***DIRECTIVES COMMUNES POUR LES CARD***/
/*Image des CARD*/
img[class*="card-control-"]{
    object-fit: cover;
}
/*Titre des CARD*/
.title-card{
    font-weight: bold;
    font-size: 1.05em;
}
/*Texte des CARD*/
.content-description p{
    font-size: 0.9em;
}

.content-description p span{
    font-weight: bold;
}
/*Etoiles des CARD*/
.review-stars{
    color: var(--color-first)
}

.star-less{
    color: rgb(230, 230, 230);
}
/*Couleur de fond des CARD*/
.hebergement-card, 
.popular-card, 
article[class*=activite-card-special-]{
    background-color: var(--background-card);
}

/***PARTIE 1 : NAVIGATION***/
/*Style pour la partie "navigation*/
.nav-accueil{
    display: flex;
    justify-content: space-between;
}

.nav-rubrique ul{
    display: flex;
    list-style-type: none;
}

.nav-rubrique ul li a{
    display: inline-block;
    font-weight: 500;
    font-size: 1.1em;
    padding: 45px 32px 0 32px;
}

.nav-rubrique ul li:last-child a, 
.nav-rubrique ul li:hover a,
.nav-rubrique ul li a:hover{
    color: var(--color-first)
}

.nav-rubrique ul a:hover{
    border-top: 3px solid var(--color-first);
    padding-top: 42px;
}

.nav-logo{
    padding-top: 45px;
}

/***PARTIE 2 : RECHERCHE***/
/*Style style pour la partie "recherche"*/
.message-guide{
    margin-top: 35px;
}

.message-guide .message-guide-title{
    font-size: 1.5em;
    font-weight: bold;
}

.message-guide p{
    margin-top: 10px;
}

.bar-search{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.bar-search input{
    width: 216px;
    height: 25px;
    border: 1px solid var(--color-third);
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.bar-search input::placeholder{
    font-weight: bolder;
    color: rgb(145, 145, 145);
    font-size: 1em;
    font-weight: 700;
}

.bar-search button{
    background-color: var(--color-first);
    border: none;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    font-size: 1.2em;
    height: 57px;
    width: 146px;
}

.bar-search button span{
    color: white;
}

.logo-info{
    border: var(--color-third) 1px solid;
    padding: 0 15px;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 56px;
    margin-left: 2px;
}

/***PARTIE 3 : FILTRE***/
/*Style pour la partie "filtre"*/
.perso-icon{
    color: var(--color-first);
}

.section-filtre ul{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
    flex-wrap: wrap;
}

.section-filtre li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 3px solid var(--color-third);
    border-radius: 30px;
    margin-bottom: 20px;
}

.section-filtre li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-filtre li:first-child{
    border: none;
}

.section-filtre li:first-child p{
    padding-left: 10px;
}

.section-filtre li p{
    padding: 0px 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.filtre-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--color-second);
    border-radius: 100%;
    margin: -3px;
}

.filtre-item i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.filtre-remarque{
    display: flex;
    margin-top: 20px;
}

.filtre-remarque p{
    font-size: 1.05em;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.info-remarque{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 5px;
    border: 1px solid var(--color-third);
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

/***PARTIE 4 : HEBERGEMENT ET POPULAIRE***/
/*Style commun entre la partie "hebergement" et "populaire"*/
.hebergement-part, 
.popular-part{
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}

.hebergement-popular-separa{
    display: flex;
    justify-content: space-between;
}

/*Style pour la partie "hebergement"*/

.hebergement-part .card-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergement-part .card-row .hebergement-card:nth-child(2){
    margin: 0 33px;
}

.hebergement-card{
    border-radius: 20px;
}

.hebergement-card a{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

.hebergement-card .content-image{
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.hebergement-card .content-description{
    margin: 8px 0 0 12px;
}

.hebergement-card .content-description p{
    margin-top: 5px;
}

.hebergement-card .review-stars{
    margin-top: 4px;
}

.hebergement-part .more-information{
    padding: 10px 0 10px 2px;
    font-size: 1.2em;
}

.hebergement-part .more-information a{
    font-weight: bold;
}

.hebergement-part .more-information a:hover{
    color: var(--color-first);
}

/*Style pour la partie "populaire"*/

.popular-part .card-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-part .card-row .popular-card:nth-child(2){
    margin: 38px 0;
}

.popular-title{
    display: flex;
    justify-content: space-between;
}

.popular-card{
    border-radius: 20px;
}

.popular-card a{
    display: flex;
    align-items: center;
    width: 355px;
    height: 140px;
    padding: 5px;
}

.popular-card .content-image{
    width: 135px;
    height: 100%;
    border-radius: 20px 0px 0 20px;
    overflow: hidden;
    margin-right: 20px;
}

.popular-card .content-description{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 8px 0;
    width: 160px;
    height: 100%;
}

.popular-card .content-description .description p{
    margin-top: 8px;
}

/*Controler la position des images à l'intérieur des CARDS*/
/*Hebergement*/
.card-control-1, 
.card-control-2, 
.card-control-3{
    object-position: 0 50%;
    width: 105%;
    height: 100%;
}

.card-control-4{
    object-position: 0;
    width: 100%;
    height: 100%;
}

.card-control-5{
    object-position: calc(100% - 7px) 50%;
    width: 105%;
    height: 105%;
}

.card-control-6{
    object-position: calc(50% - 5px) 52%;
    width: 105%;
    height: 105%;
}
/*Populaire*/
.card-control-7{
    object-position: 55% 60%;
    width: 110%;
    height: 110%;
}

.card-control-8{
    object-position: 60% calc(50% - 5px);
    width: 110%;
    height: 110%;
}

.card-control-9{
    object-position: calc(50% - 12px) 70%;
    width: 110%;
    height: 110%;
}

/***PARTIE 5 : ACTIVITES***/
/*Style pour la partie "activités"*/
.activite-separa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.activite-part{
    margin-top: 60px;
}

.activite-part .card-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article[class*=activite-card-special-]{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 318px;
}

article[class*=activite-card-special-] .content-image{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    width: 100%;
}

.activite-card-special-1 .content-image{
    height: 410px;
}

.activite-card-special-2 .content-image{
    height: 190px;
}

.activite-card-special-3 .content-image{
    height: 113px;
}

.activite-card-special-4 .content-image{
    height: 149px;
}

.activite-card-special-5 .content-image{
    height: 160px;
}

.activite-part .content-description .title-card{
    padding: 20px 17px;
}

/*Controler la position des images à l'intérieur des CARDS*/
/*#Activités*/
.card-control-10{
    object-position: 60% calc(50% - 20px);
    width: 120%;
    height: 120%;
}

.card-control-11{
    object-position: 50% 40%;
    width: 100%;
    height: 100%;
}

.card-control-12{
    object-position: 50% 20%;
    width: 100%;
    height: 100%;
}

.card-control-13{
    object-position: 57% calc(50% - 5px);
    width: 115%;
    height: 115%;
}

.card-control-14{
    object-position: 50% 0%;
    width: 100%;
    height: 100%;
}

.card-control-15{
    object-position: 50% 18%;
    width: 100%;
    height: 100%;
}

/***PARTIE 6 : PIED DE PAGE***/
/*Style pour la partie "pied de page"*/

.footer{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    padding: 4px 40px;
}

.foot-column{
    padding: 43px 0 50px 10px;
    width: 100%;
}

.title-footer{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.foot-column p{
    line-height: 0.9em;
}

.foot-column p a:hover{
    color: var(--color-first);
}

/***EFFET, TRANSITION, ANIMATION***/

/*Ombre (pour les CARD)*/
.hebergement-card, 
.popular-card, 
article[class*=activite-card-special-]{
    box-shadow: 0 0 20px rgba(0,0,0,.25)
}

/*Espacement des lettres au passge de la souris (pour les liens)*/
footer a{
    transition: letter-spacing 0.5s ease-out;
}

footer a:hover{
    letter-spacing: 1px;
}

/*Zoom et effets de lumières (pour certains éléments)*/
.hebergement-card, 
.popular-card, 
article[class*=activite-card-special-], 
.section-filtre ul li:not(:first-child), 
.logo-info i, 
.info-remarque{
    transition: transform 0.4s ease-out, animation 0.4s;
}

.hebergement-card:hover, 
.popular-card:hover, 
article[class*=activite-card-special-]:hover, 
.section-filtre li:not(:first-child):hover, 
.logo-info:hover i, 
.info-remarque:hover{
    transform: scale(1.1);
}

.hebergement-card:hover img[class*=card-control],
.popular-card:hover img[class*=card-control],
article[class*=activite-card-special-]:hover img[class*=card-control]{
    animation: forcard 1s;
}

@keyframes forcard{
    20%{
        filter: brightness(1);
    }
    50%{
        filter: brightness(2);
    }
}

/*Décalage du block au passage de la souris (pour l'icone de la partie "Populaire")*/
.popular-more a i{
    transition: transform 0.5s ease-out;
}

.popular-more a i:hover{
    transform: translate(5px, -5px);
}
/*Petite ombre autour du texte (pour le lien dans la partie "Hebergement")*/

.hebergement-part .more-information a,
.nav-rubrique ul li:last-child a{
    transition: text-shadow 0.5s linear;
}

.hebergement-part .more-information a:hover,
.nav-rubrique ul li:last-child a:hover{
    text-shadow: 0px 0px 1px var(--color-first);
}

/*Eclaircicement du boutton au passage de la souris (pour la partie "Rechercher")*/
.bar-search button:hover{
    filter: brightness(1.3);
    cursor: pointer;
}

/*Effet d'enfoncement du boutton au passage de la souris (pour la partie "Rechercher")*/
.bar-search button:active{
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 5px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

/*Ombre interne des filtres au passage de la souris (pour la partie "Filtre")*/
.section-filtre li:not(:first-child):hover{
    box-shadow: inset -2px -2px 5px var(--color-third), inset 2px 2px 5px var(--color-third);
}