/*Bloquage du document au centre pour les tailles d'écran de plus de 1540px et de moins 320px*/
body{
    margin: auto;
    width: 100%;
    max-width: 1540px;
    min-width: 320px;
}

@media screen and (max-width: 1500px){
    /***Hebergement et Populaire***/
    .hebergement-popular-separa{
        flex-direction: column-reverse;
    }

    .hebergement-part,
    .popular-part{
        box-sizing: border-box;
        width: 100%;
    }

    .hebergement-card a,
    .popular-card a{
        box-sizing: border-box;
        width: 100%;
    }

    .hebergement-part article,
    .popular-part article,
    .activite-separa{
        flex: 1;
    }

    /***Hebergement***/
    /*Positionnemement des images de la partie "hebergement"*/
    .card-control-1, 
    .card-control-2, 
    .card-control-3{
        object-position: 0 80%;
    }

    .card-control-4{
        object-position: 50% 70%;
    }

    .card-control-5{
        object-position: 50% 50%;
    }

    .card-control-6{
        object-position: 50% 60%;
    }
    
    /***Populaire***/
    .popular-part .card-row{
        flex-direction: row;
    }

    .popular-part .card-row .popular-card:nth-child(2){
        margin: 0px 33px;
    }

    /***Activités***/
    article[class*=activite-card-special-]{
        box-sizing: border-box;
        width: 100%;
    }

    .activite-separa:nth-of-type(1),
    .activite-separa:nth-of-type(2),
    .activite-separa:nth-of-type(3){ 
        margin-right: 30px;
    }

    /*Positionnemement des images de la partie "activités*/
    .card-control-10,
    .card-control-11,
    .card-control-12,
    .card-control-14{
        object-position: 50% 50%;
    }

    .card-control-13{
        object-position: 50% 100%;
    }

    .card-control-15{
        object-position: 50% 50%;
    }

    /***Pied de page***/
    .footer .foot-column{
        text-align: center;
    }
}

@media screen and (max-width: 1230px){
    
    /***Hebergement***/
    .hebergement-part .card-row-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergement-part .card-row{
        width: 100%;
        flex-direction: column;
    }

    .hebergement-part .card-row:first-child{
        margin-right: 30px;
    }

    .hebergement-part .card-row:last-child{
        margin-left: 30px;
    }

    .hebergement-part .card-row .hebergement-card:nth-child(2){
        margin: 33px 0px;
    }

    .hebergement-card a{
        box-sizing: border-box;
        width: 100%;
    }
    
    /***Populaire***/
    .popular-part .card-row{
        flex-direction: column;
        align-items: center;
    }

    .popular-part .card-row .popular-card:nth-child(2){
        margin: 38px 0px;
    }

    .popular-card{
        width: 100%;
    }

    .popular-card a{
        flex-direction: column;
        align-items: flex-start;
        height: 250px;
    }

    .popular-card .content-image{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0px;
        margin-right: 0px;
    }

    .popular-card .content-description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 0 0px 0px;
        width: 100%;
        height: 65px;
    }

    .popular-card .content-description{
        margin: 8px 0 0 12px;
    }
    
    .popular-card .content-description .description p{
        margin-top: 5px;
    }
    
    .popular-card .review-stars{
        margin-top: 4px;
    }

    /*Positionnemement des images pourla partie "populaire"*/
    .card-control-7{
        object-position: 50% 80%;
    }

    .card-control-8{
        object-position: 50% 60%;
    }

    .card-control-9{
        object-position: 50% 60%;
    }

    /***Activités***/
    .activite-separa:nth-of-type(1),
    .activite-separa:nth-of-type(2),
    .activite-separa:nth-of-type(3){ 
        margin-right: 0px;
    }

    .activite-part .card-row {
        display: grid;
        grid-gap: 20px 20px;
        grid-template-columns: 1fr 2fr;
    }

    .activite-separa{
        flex-direction: row;
        align-items: flex-end;
    }

    .activite-part .card-row .activite-separa:nth-child(2) article:first-child,
    .activite-part .card-row .activite-separa:last-child article:first-child{
        margin-right: 10px;
    }

    .activite-part .card-row .activite-separa:nth-child(2) article:last-child,
    .activite-part .card-row .activite-separa:last-child article:last-child{
        margin-left: 10px;
    }
    
    article[class*=activite-card-special-] .content-image{
        height: 140px;
    }
}

@media screen and (max-width: 880px){
    /***Activités***/
    .activite-part .card-row {
        grid-template-rows: 200px 2fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "top1 top2" "bottom1 bottom2";
    }

    .activite-part .card-row .activite-separa:nth-of-type(1){
        grid-area: top1;
    }

    .activite-part .card-row .activite-separa:nth-of-type(3){
        grid-area: top2;
    }

    .activite-part .card-row .activite-separa:nth-of-type(2){
        grid-area: bottom1;
    }

    .activite-part .card-row .activite-separa:nth-of-type(4){
        grid-area: bottom2;
    }

    .activite-separa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activite-part .card-row .activite-separa:nth-child(2) article:first-child,
    .activite-part .card-row .activite-separa:last-child article:first-child{
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .activite-part .card-row .activite-separa:nth-child(2) article:last-child,
    .activite-part .card-row .activite-separa:last-child article:last-child{
        margin-left: 0px;
    }
    
    article[class*=activite-card-special-] .content-image{
        height: 140px;
    }

    /***Pied de page***/
    .footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){

    /***Générale***/
    main,
    header{
        padding: 0 0;
    }
    
    /***Navigation***/
    .nav-accueil{
        flex-direction: column;
        position: relative;
    }

    .nav-logo{
        padding-top: 30px;
        padding-left: 3.5%;
    }

    .nav-rubrique ul li:last-child{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    .nav-rubrique ul li:last-child a,
    .nav-rubrique ul li:last-child a:hover{
        border: none;
        padding: 0;
    }

    .nav-rubrique ul li:first-child,
    .nav-rubrique ul li:first-child a,
    .nav-rubrique ul li:nth-child(2),
    .nav-rubrique ul li:nth-child(2) a{
        box-sizing: border-box;
        text-align: center;
        flex: 1;
        width: 100%;
    }

    .nav-rubrique ul li a{
        padding: 35px 32px 15px 32px;
        border-bottom: 3px solid var(--color-third);
    }

    .nav-rubrique ul a:hover{
        border-top: none;
        border-bottom: 3px solid var(--color-first);
        padding-top: 35px;
    }

    /***Recherche et filtres***/
    .section-search,
    .section-filtre{
        padding: 0 3.5%;
    }

    /***Hebergement et Populaire***/
    .hebergement-part, 
    .popular-part{
        border-radius: 0px;
    }

    /***Hebergement***/
    .hebergement-part{
        margin-top: 10px;
        background-color: transparent;
    }

    .hebergement-part .card-row-group{
        flex-direction: column;
    }

    .hebergement-part .card-row{
        margin-bottom: 20px;
    }

    .hebergement-part .card-row:first-child{
        margin-right: 0px;
    }

    .hebergement-part .card-row:last-child{
        margin-left: 0px;
    }

    .hebergement-part .card-row .hebergement-card:nth-child(2){
        margin: 20px 0px;
    }

    /***Populaire***/
    .popular-card a{
        flex-direction: row;
        align-items: center;
        height: 140px;
    }

    .popular-card .content-image{
        width: 135px;
        height: 100%;
        border-radius: 20px 0px 0 20px;
        margin-right: 20px;
    }
    
    .popular-card .content-description{
        flex-direction: column;
        justify-content: space-between;
        padding: 14px 0 8px 0;
        width: 160px;
        height: 100%;
    }
    
    .popular-card .content-description .description p{
        margin-top: 8px;
    }

    .popular-card .content-description{
        margin: 0;
    }

    .popular-part .card-row .popular-card:nth-child(2){
        margin: 20px 0px;
    }

    /***Activités***/
    .activite-part{
        margin-top: 0px;
        padding: 0 20px;
    }

    .activite-part .card-row{
        display: flex;
        flex-direction: column;
    }

    /***EFFET, TRANSITION, ANIMATION***/

    .nav-rubrique ul li:first-child a,
    .nav-rubrique ul li:nth-child(2) a{
        transition: box-shadow 0.5s ease-out;
    }

    .nav-rubrique ul li:first-child a:hover,
    .nav-rubrique ul li:nth-child(2) a:hover{

        box-shadow: 0px 10px 10px var(--color-third);
    }
}

@media screen and (max-width: 500px){
    
    body{
        font-size: 14px;
    }

    /***Navigation***/
    .nav-rubrique ul li:first-child a,
    .nav-rubrique ul li:nth-child(2) a{
        padding: 25px 32px 15px 32px;
    }

    /***Recherche***/
    .bar-search input{
        width: 100%;
    }

    /***Filtres***/
    .section-filtre li p{
        padding: 0 10px;
    }
    
    .bar-search button{
        width: 55px;
        border-radius: 18px;
        margin-left: -20px;
    }
    .bar-search button span:first-child{
        display: none;
    }

    .bar-search button span:last-child{
        display: inline-block;
    }

    /***Hebergement et Populaire***/
    .hebergement-part, 
    .popular-part{
        padding: 40px 25px 40px 25px;
    }

    /*Positionnemement des images de la partie "hebergement"*/
    .card-control-1, 
    .card-control-2, 
    .card-control-3{
        object-position: 0 50%;
    }

    .card-control-4{
        object-position: 0;
    }

    .card-control-5{
        object-position: calc(100% - 7px) 50%;
    }

    .card-control-6{
        object-position: calc(50% - 5px) 52%;
    }

    /***Populaire***/
    /*Positionnemement des images de la partie "populaire*/
    .card-control-7{
        object-position: 55% 60%;
    }
    
    .card-control-8{
        object-position: 60% calc(50% - 5px);
    }
    
    .card-control-9{
        object-position: calc(50% - 12px) 70%;
    }
    /******************************/

    /***Activités***/
    /*Positionnemement des images de la partie "activités*/
    .card-control-10{
        object-position: 60% calc(50% - 20px);
    }
    
    .card-control-11{
        object-position: 50% 40%;
    }
    
    .card-control-12{
        object-position: 50% 20%;
    }
    
    .card-control-13{
        object-position: 57% calc(50% - 5px);
    }
    
    .card-control-14{
        object-position: 50% 0%;
    }
    
    .card-control-15{
        object-position: 50% 18%;
    }

    /***Pied de page***/
    .footer{
        padding: 30px 40px;
    }

    .footer .foot-column{
        text-align: left;
        padding: 20px 0;
    }
}

@media screen and (max-width: 350px){
    /***Générale***/
    body{
        font-size: 14px;
    }
    
}